<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CamereController</servlet-name>
        <servlet-class>Controller.CamereController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientiController</servlet-name>
        <servlet-class>Controller.ClientiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoteluriController</servlet-name>
        <servlet-class>Controller.HoteluriController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CamereController</servlet-name>
        <url-pattern>/CamereController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientiController</servlet-name>
        <url-pattern>/ClientiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoteluriController</servlet-name>
        <url-pattern>/HoteluriController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>adauga_Camera.jsp</welcome-file>
    </welcome-file-list>
</web-app>
